<header class="mb-auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top pt-3 @(isScrolled ? "scroll-shadow" : "")">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/img/logo_bg_blue.png" style="width: 200px" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNav" aria-controls="offcanvasNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="offcanvas offcanvas-end bg-primary text-bg-dark" tabindex="-1" id="offcanvasNav" aria-labelledby="offcanvasNavLabel">
                <div class="offcanvas-header">
                    <a class="navbar-brand" href="javascript:void(0)" data-scroll-target="home">
                        <img src="/img/logo_bg_blue.png" style="width: 200px" />
                    </a>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)" data-scroll-target="home">
                                Home
                            </a>
                        </li>
                        <li class="nav-item ms-md-3">
                            <a class="nav-link" href="javascript:void(0)" data-scroll-target="skills">
                                Was wir können
                            </a>
                        </li>
                        <li class="nav-item ms-md-3">
                            <a class="nav-link" href="javascript:void(0)" data-scroll-target="about-us">
                                Über uns
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>



@code {

    [Inject]
    private IJSRuntime JS { get; set; } = default!;

    private bool isScrolled = false;
    private DotNetObjectReference<NavMenu>? objRef;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await JS.InvokeVoidAsync("addScrollListener", DotNetObjectReference.Create(this));
    }

    [JSInvokable]
    public void OnWindowScroll(double scrollTop)
    {
        bool scrolled = scrollTop > 10;
        if (isScrolled != scrolled)
        {
            isScrolled = scrolled;
            StateHasChanged();
        }
    }
}