<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlausichtWebApp.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://use.typekit.net/xnf8xzy.css">
    <HeadOutlet />
</head>

<body class="text-center">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="scripts/blausicht.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"</script>
</body>
</html>
