@page "/imprint"
<div class="container text-start body-content-top-margin mb-4">
    <div class="row">
        <div class="col">
            <p class="fw-normal">Firmenadresse:</p>
            <p>
                Blausicht GmbH <br>
                Rosengarten 7 <br>
                6210 Sursee <br>
                Schweiz
            </p>
            <p class="fw-normal">Kontakt:</p>
            <p>
                EMail: <a href="mailto:contact&#64;rigidbody-games.ch">kevin&#64;blausicht.ch</a>
            </p>
            <p class="fw-normal">Handelsregistereintrag:</p>
            <p>
                UID: CHE-410.036.993
            </p>
            <p class="fw-normal">Haftungsausschluss</p>
            <p>Der Autor übernimmt keine Verantwortung für die Korrektheit, Genauigkeit, Aktualität, Zuverlässigkeit oder Vollständigkeit der bereitgestellten Informationen.</p>

            <p>Haftungsansprüche gegen den Autor wegen materieller oder immaterieller Schäden, die aus dem Zugriff, der Nutzung oder Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstehen, sind ausgeschlossen.</p>

            <p>Alle Angebote sind unverbindlich. Der Autor behält sich ausdrücklich das Recht vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>

            <p class="fw-normal">Haftung für Links</p>
            <p>Verweise und Links auf Webseiten Dritter liegen außerhalb unseres Verantwortungsbereichs. Jegliche Verantwortung für solche Webseiten wird abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigenes Risiko des Nutzers.</p>

        </div>
    </div>
</div>
