<section id="kontakt" class="section container py-5">
    <div class="kontakt-section">
        <h2>Lass uns sprechen!</h2>
        <p class="mt-4">Hast du ein Projekt oder Fragen?<br />Ruf mich an, schreib mir auf What's App oder schick mir eine E-Mail!</p>
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                        <i class="bi bi-telephone text-primary fs-4"></i>
                    </div>
                    <div class="text-center text-md-start">
                        <p class="fw-normal mb-0">Mobile</p>
                        <p class="mb-0">+41 79 349 76 72</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-5">
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-center gap-4">
                    <div class="rounded-circle bg-secondary d-flex align-items-center justify-content-center" style="width: 50px; height: 50px;">
                        <i class="bi bi-envelope-at text-primary fs-4"></i>
                    </div>
                    <div class="text-center text-md-start">
                        <p class="fw-normal mb-0">E-Mail</p>
                        <p class="mb-0"><a href="mailto:kevin@blausicht.ch" class="text-secondary text-decoration-none">kevin&#64;blausicht.ch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
