@inject IJSRuntime JS
<section id="home" class="text-start d-flex align-items-center justify-content-center vh-100">
    <div class="lead-text container px-4">
        <h1 class="display-1 mb-5 lh-1">Massgeschneiderte IT-Lösungen</h1>
        <h2>Wir entwickeln Software und unterstützen dich bei deinen IT-Vorhaben.</h2>
        <a href="javascript:void(0)" data-scroll-target="projects" class="btn text-primary btn-secondary btn-lg mt-3 rounded-5">Zu unseren Projekten</a>
    </div>
</section>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", "document.body.focus(); document.body.blur();");
        }
    }
}