<section id="skills" class="section container py-5 text-center">
    <h2 class="mb-5">Was wir können</h2>
    <div class="row g-4 mb-4">
        <SkillCard Icon="bi-laptop"
                   Title="Weblösungen"
                   Subtitle="Moderne Web-Applikationen & Websites"
                   Description="Ob komplexe Business-App oder klassische Website – wir entwickeln Full-Stack mit C#, Blazor, JavaScript, Typescript & SQL." />

        <SkillCard Icon="bi-phone"
                   Title="Apps"
                   Subtitle="Mobile Apps für iOS & Android"
                   Description="Deine App ins Smartphone deiner Kund:innen – als native App im Apple App Store oder Google Play Store. Von der Idee bis zur Veröffentlichung." />

        <SkillCard Icon="bi-unity"
                   Title="Unity"
                   Subtitle="Games & immersive Anwendungen"
                   Description="Ob Mobile Game, Desktopspiel oder VR-App – wir realisieren deine Idee mit Unity, kreativ & performant." />
    </div>
    <div class="row g-4">
        <SkillCard Icon="bi-graph-up"
                   Title="IT-Projektmanagement"
                   Subtitle="Strukturiert & zielgerichtet führen"
                   Description="Von Budgetplanung bis Stakeholdermanagement: Wir steuern IT-Projekte effizient – inklusive Ressourcenmanagement & C-Level Kommunikation." />

        <SkillCard Icon="bi-search"
                   Title="Requirements Engineering"
                   Subtitle="Lösungen mit Substanz"
                   Description="Wir analysieren Anforderungen, modellieren Prozesse und spezifizieren deine Software – verständlich, machbar und nutzerzentriert." />

        <SkillCard Icon="bi-people"
                   Title="Contracting"
                   Subtitle="Flexibel vor Ort im Einsatz"
                   Description="Du brauchst Unterstützung im Projekt? Wir übernehmen Projektmanagement, Entwicklung oder Business Analyse direkt bei dir im Team." />
    </div>
</section>

@code {

}
